@using ValidationModels

<EditForm EditContext="@EditContextValidation" Context="PourNewRef">
<MudDialog>
    <DialogContent>
        <DataAnnotationsValidator />

        <div>@Titre</div>
		
        <div>
            <div>
                <ValidationMessage For="@(() => ValidForm.Nom)" />
            </div>
            <MudTextField @bind-Value="ValidForm.Nom"
                          Label="Donner un nom..."
                          Variant="Variant.Outlined"></MudTextField>
        </div>

        <div>
            <div>
                <ValidationMessage For="@(() => ValidForm.Commentaire)" />
            </div>
            <MudTextField @bind-Value="ValidForm.Commentaire"
                          Label="Commentaire (optionnel)..."
                          Variant="Variant.Outlined"></MudTextField>
        </div>
    </DialogContent>

    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
        <MudButton Color="Color.Secondary" OnClick="Cancel">Annuler</MudButton>
    </DialogActions>
	
</MudDialog>
</EditForm>

@code 
{
    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public ReferencielValidation ValidForm { get; set; }

	[Parameter]
	public EditContext EditContextValidation { get; set; }
	
    [Parameter]
    public string Titre { get; set; }
    
    void Submit()
    {
		if(EditContextValidation.Validate())
		    MudDialog.Close(DialogResult.Ok(ValidForm));
    }
    
    void Cancel() => MudDialog.Cancel();
}