<MudDialog>
    <DialogContent>
        <div><u>Compte</u> : <b>@LoginUser</b></div>
        <div>Nouveau mot de passe : <b>Azerty123!</b></div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

    [Parameter]
    public string LoginUser { get; set; }
}
