@page "/consultant/{idConsultant:uint}"
@attribute [Authorize(Roles = "Admin, Manager")]
@inject IConsultantViewModel ViewModel

<h3>Consultant</h3>




@code {
	[Parameter]
	public uint idConsultant { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await ViewModel.LoadConsultant(idconsultant);
	}
}
